*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# IntelliJ IDEA
.idea
deploygate-cli.iml

# test file
spec/test_files/.dg

# binary files
*.app.dSYM.zip
*.ipa

.DS_Store
vendor
